.Company-name {
    color: steelblue;
    font-size: 90px;
    // min-height: 30vh;
    // height: 30vh;
    margin-top: 10vh;
    text-align: center;
}

.style-physicianbar {
    margin-left: 10%;
    margin-right: 10%;
}

.style-appname {
    text-align: center;;
    padding-top: -10vh;    
    color: silver;
}

.userxp-container {
    text-align: center;
    margin-top: 3vh;
}

.userxp {
    display: inline-block;
}

.toolbar {
    text-align:center;
}

.Checkbox-container {
    padding-left: 0;
}

.Test {
    padding-left: 0;
}


.Atoms {
    display: inline-block;
}