.answer-submission {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.answer-submit-container {
  display: flex;
  justify-content: space-between;
}

.answer-submit-container button {
  background: #006eaa;
  color: #ffffff;
  border-radius: 20px;
}

.answer-submission .ui.form textarea {
  margin-bottom: 0px;
}
.multiple-answers textarea {
  margin: 10px 0px !important;
  padding-bottom: 10px !important;
}
