.vertical-grid {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.clearfix {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.banner {
  position: relative;
  width: 50%;
  margin: 0 auto;
  background: #006eaa;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .banner {
    width: 98%;
  }
}

.banner .banner-text {
  color: white;
  width: 70%;
  float: right;
  font-size: 33px;
  line-height: 40px;
  text-align: right;
  margin-top: 20px;
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}

.banner .banner-subtext {
  color: white;
  font-size: 15px;
  float: right;
  text-align: right;
  width: 85%;
  padding: 10px;
  font-family: Raleway;
}

@media (max-width: 480px) {
  .containerDiv {
    padding-top: 0px;
  }
  .banner {
    padding: 30px 15px 30px 25px;
    margin: 0px;
    width: 100%;
    background: #e3e3e4;
  }

  .banner .banner-text {
    width: 100%;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    float: none;
    padding: 0px;
    margin-top: 0px;

    color: #006eaa;
  }

  .banner-subtext {
    display: none;
  }
}
