.flex-container {
  display: flex;
  justify-content: flex-end;
}

.ask-button.ui.button {
  font-weight: 500;
  line-height: 21px;
  font-size: 18px;
  padding: 0 50px;
}

.ui.form textarea {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.ui.modal>.header {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem!important;
}

.ui.form .field>label {
  font-weight: 500;
  font-size: 16px;
}

div.field {
  margin-bottom: 0;
}