.footer {
  position: absolute;
  bottom: 35px;
  width: 100%;
}

.footer p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  color: #000000;
}

.footer a:link,
a:hover {
  font-weight: bold;
  color: Black;
  border-bottom: 1px solid black;
}
