.row {
  padding: 25px;
}

.nav {
  float: right;
  margin: 30px;
}

.row#sponsors {
  margin-top: 500px;
  margin-bottom: 60px;
}

button#menu.ui.button {
  min-width: 30px;
  height: 100%;
  justify-content: left;
  display: flex;
  background: transparent;
}

button#menu.ui.button i.bars.icon {
  font-size: 2em;
  height: 100%;
  color: #006eaa;
}

i.bars.icon {
  align-self: center;
}

a.ui.button {
  font-size: 18px;
  margin-top: 20px;
  display: inline;
  width: 100%;
  justify-content: left;
  white-space: nowrap;
  margin-left: 0.25em;
}

/* .ui.inverted.menu{
    background: ligh
} */
