.sticky-container,
.ui.sticky.fixed.top {
  background-color: #006eaa;
  margin-bottom: 25px;
}

.sticky-top {
  padding: 10px 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 0px auto;
}

.sticky-top h1 {
  margin: 0;
  align-self: center;
  color: #006eaa;
}

.sticky-top img {
  max-width: 100%;
}

.customChat iframe {
  border: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .sticky-top {
    grid-gap: 10px;
    padding: 0px 10px;
  }
  .customChat {
    height: 80vh;
  }
  .customChat iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 767px) {
  .customChat iframe {
    height: 400px;
  }
}

.ui.list .list > .item .description,
.ui.list > .item .description {
  word-break: break-word;
}
