body {
  background-color: #f7fafc;
}

.containerDiv {
  min-height: 90vh;
  position: relative;
  padding: 20px 0px 205px 0px;
}

.sticky-container,
.ui.sticky.fixed.top {
  background-color: white;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.075);
}

.sticky-top {
  padding: 15px;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-gap: 100px;
  width: 100%;
  margin: 0px auto;
}

.sticky-top h1 {
  margin: 0;
  align-self: center;
  color: #006eaa;
}

.sticky-top img {
  max-width: 100%;
}

.customChat iframe {
  border: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .sticky-top {
    grid-gap: 10px;
    padding: 10px;
  }
  .customChat {
    height: 80vh;
  }
  .customChat iframe {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 767px) {
  .customChat iframe {
    height: 400px;
  }
}

.ui.list .list > .item .description,
.ui.list > .item .description {
  word-break: break-word;
}

.new-answers {
  position: fixed;
  z-index: 5;
  text-align: center;
  color: white;
  background-color: #006eaa;
  padding: 10px;
  left: 50%;
  top: 90px;
  width: 150px;
  transform: translate(-50%, 0);
  cursor: pointer;
}
