body * {
  box-sizing: border-box;
}
body {
  font-family: Arial, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    Geneva, Arial, sans-serif;
}
.container {
  /* max-width: 80%; */
  /* padding-top: 100px; */
  margin: auto;
}
.ui.input > input {
  background-color: #f7fafc;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.searchBar .input {
  width: 100%;
  max-width: 700px;
}

.ui.search .prompt {
  border-radius: 30px;
}

.qCard {
  padding: 40px !important;
  border: none;
}
.ui.card,
.ui.cards > .card {
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.075);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 10px 0px;
}
.qTitle,
.answeredByName {
  /* height: 30px; */
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
}
.qTag {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 200px;
}
.qTag .label {
  margin-right: 5px;
  margin-top: 5px;
}

.qLeftCard {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qLeftCard .line {
  width: 80%;
  height: 1px;
  background: rgba(0, 110, 170, 0.1);
  margin: 30px auto;
}
.qTitle > span,
.answeredByName > span {
  font-weight: 300;
  font-size: 20px;
  color: #006eaa;
  margin-right: 20px;
}

.answerTitle {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 25px;
}
.answeredByIcon {
  height: 32px;
  width: 32px;
}
.qAnswer {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.answer-image {
  margin-top: 20px;
}

.qPanelBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.buttonGroupCustom {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 1401px) {
  .mailForm_mobile {
    display: block;
  }
  .mailForm {
    display: none;
  }
}

@media (min-width: 1400px) {
  .mailForm_mobile {
    display: none;
  }
  .mailForm {
    max-width: 400px;
    margin-top: 200px !important;
    margin-left: 10px !important;
  }
}
